.parent-block{
    
}
.parent-block .side-menu{
    display: none;
    
}
.parent-active  > a.active{
       background: #4b7521;
       color: #fff;
}



.parent-active .side-menu li.active{
    background: #4b7521;
    color: #fff;
}