.articles-image {
	float: left;
	margin-right: 11px;
}
.articles-service {
	list-style: none;
}
.viewmore a{
        font-size: 15px;
    color: white;
}
.articles-service li{margin-bottom: 16px;   padding-top:6px;}

.col {
	background: #284388;
	padding: 13px 10px 3px 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.articles-service .head {
	font-size: 16px;
	font-weight: bold;
	color: #444;
	margin-bottom: 3px;
}
.articles-service .head a{
	color: #444;
}
.articles-service .head a:hover{
	color: #444;
        text-decoration: none;
}
.articles-service .date {
	font-size: 13px;
	font-style: italic;
	color: rgba(255, 255, 255, 0.68);
}
.articles-service p {
	font-size: 13px;
	line-height: 20px;
	color: #bababa;
}
.inner-col{
    background: #eee;
    padding: 13px 10px 13px 13px;
    border-radius: 3px;
}
.about-wrap p {
    font-size: 15px;
    color: #444 !important;
    line-height: 24px;
}
.blog-meta {
    margin-top: 10px;
    margin-bottom: 10px;
}
.blog-meta span {
    color: #444;
    margin-right: 18px;
}
.articles-service p a {
    color: #e35900;
}


/* BLOG DETAILS */
.post
{
    background-color: #eee;
    overflow: hidden;
    box-shadow: 0 0 1px #CCC;
}
.post img
{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}
.post .content
{
    padding: 15px;
}
.post .author
{
    font-size: 11px;
    color: #737373;
    padding: 25px 30px 20px;
}


.post .post-title
{    position: absolute;
    top: 0;
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;

}
.post .post-title b
{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px;
}

.post .blog-det{
    height:250px;
    overflow: hidden;
}

.post .post-img-content img{
    height: auto;
}
.post .blog-list li:before{
    padding-right: 10px;
    font-family: "FontAwesome";
}
.post .blog-list li{
        font-size: 16px;
    margin: 8px;
    font-weight: bold;
    line-height: 30px;
}
.post .content{
        margin-top: 25px;
}
.post .content .para-set {
        font-size: 15px;
    line-height: 21px;

}
.post .content .para-set .comment-form{
           margin-top: 10px;

}
.post .content .para-set .comment-form h1{
              font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 6px;

}
.submit-btn{
        text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    background: #e35900;
    padding: 7px 13px;
}
.input-group{
    float: right;
    width: 40%;
}