.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.navbar-default{
	background:none;
	border:none
}

.navbar-default .nav>li{
	margin-left:20px
}

.navbar-default .nav>li>a{
	font-weight:600;
	font-family: 'Raleway', sans-serif;
	color:#2f2f2f;
	border-bottom:6px solid #fff;
	
	
}

.navbar-nav>li{
	padding-top:15px;
	position:relative
}

	
.navbar-default .nav>li>a:hover{
	
	color:#e35900;
	border-bottom:6px solid #e35900
}


.navbar-nav>li:hover>.dropdown-menu{
	display:block

}

.dropdown-menu>li>a{
	border-top:1px solid #ccc
}

.navbar-nav>li>.dropdown-menu>.dropdown-menu{display:none;}
.navbar-nav>li>.dropdown-menu>li:hover>.dropdown-menu{display:block; left: 100%; top: 0;}

.dropdown-submenu>a:after{
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;

}

.dropdown-submenu>.dropdown-menu{
	z-index:9999
}


.dropdown-submenu>.dropdown-menu{
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}




/*Drop Menu*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
}


@media screen and (max-width: 950px){
    .navbar-nav>li{
		border-bottom:1px solid #ccc;
		padding-top:0
	}
}
@media screen and (max-width: 600px){
.dropdown-menu{position:static; float:none; top:auto;}
.dropdown-submenu>.dropdown-menu{position:static; float:none; top:auto;}
}