.cc_email_display{
    display: inline-block;
    padding-right: 23px;

}
.bcc_email_display{
    display: inline-block;
    padding-right: 23px;

}
.deleteIcons{
    background-image: url('../image/delete_icon.gif');
    width: 16px;
    height: 17px;
    display: inline-block;
    position: absolute;
    border: 0px solid;
    box-shadow: 0px 0px 0px;
    cursor: pointer;
}
.to_email_err{
    color: red;
}
.cc_email_err{
    color: red;
}
.bcc_email_err{
    color: red;
}
.medialinkers-link{
    text-align: center;
}
.listing_search{
    display: inline-block;
}
.listingsaddform{
        margin-bottom: 5px;
}
#search-active-inactive{
    display: inline;
    padding-left: 10px;
    color: #3C763D;
    font-weight: bold;
}