.imagebox {
  height: 200px;
  overflow: hidden;
  background: #2e3e4e;
}
.error-bg {
  background-color:#e6cfcf;
}
.error {
  color:#FF0000;
}
.underline{
  text-decoration: underline;
}
.pad-left-0{
  padding-left: 0rem !important;
}
.pad-left-1{
  padding-left: 2rem !important;
}
.pad-left-2{
  padding-left: 4rem !important;
}
.pad-left-3{
  padding-left: 6rem !important;
}
.pad-left-4{
  padding-left: 8px !important;
}
.pad-left-5{
  padding-left: 10rem !important;
}